<h1>Pizza details:</h1>

<p><strong>Pizza name:</strong> <%= @pizza.name %> pizza</p>
<p><strong>Pizza ingredients:</strong> <%= @pizza.ingredients %> pizza</p>

<h3><%= link_to "Back to all pizzas", pizzas_path %></h3>