<h1> <%=@restaurant.name %> </h1>

<p> <%= @restaurant.address %> </p>
<br>
<h2> Pizzas We Sell! </h2>
<!-- getting tripped up over getting the pizzas for each restaurant because restaurantpizza can't access it
<p> <% @restaurant.my_pizzas.each do |pizza| %>   
      <%= pizza %>
    <% end %>

  <% @restaurant.pizzas.each do |pizza| >
    <%= pizza.name >
  <% end >


</p>
-->