<h1 style='font-size:1.5rem;margin-top:50px'>
      <%= @restaurant.name %>
</h1>
<p>Address: <%= @restaurant.address %></p>
<p>Pizzas Served:</p>
<% @restaurant.pizzas.each do |pizza| %>
  <%= link_to pizza.name, pizza_path(pizza) %><br>
<% end %>
